# Archivos y carpetas generados por la compilación (Maven/Gradle)
/target/
/build/

# Logs
*.log

# Archivos del IDE
# Eclipse
.metadata/
.recommenders/
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db